html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {

  height: 100px;
}

h1 {
  text-align: center;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
}

.primary-nav {
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;
}

.left {
margin-right: auto;
}